<table class="dataframe table table-bordered table-sm text-white">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>precision</th>
      <th>recall</th>
      <th>f1-score</th>
      <th>support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.842105</td>
      <td>0.905660</td>
      <td>0.872727</td>
      <td>53.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.615385</td>
      <td>0.470588</td>
      <td>0.533333</td>
      <td>17.0</td>
    </tr>
    <tr>
      <th>accuracy</th>
      <td>0.800000</td>
      <td>0.800000</td>
      <td>0.800000</td>
      <td>0.8</td>
    </tr>
    <tr>
      <th>macro avg</th>
      <td>0.728745</td>
      <td>0.688124</td>
      <td>0.703030</td>
      <td>70.0</td>
    </tr>
    <tr>
      <th>weighted avg</th>
      <td>0.787045</td>
      <td>0.800000</td>
      <td>0.790303</td>
      <td>70.0</td>
    </tr>
  </tbody>
</table>