<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conceptos Básicos Regresión logística</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body class="fondo-personalizado text-white">

    <p class="p-2 text-bg-secondary text-center fw-bold fs-1">CONCEPTOS BÁSICOS REGRESIÓN LOGÍSTICA</p>

    <div class="container mt-5 px-0">
        <div class="d-flex flex-row flex-wrap gap-5 justify-content-start">
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            A5- REGRESIÓN LOGÍSTICA
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/ConceptosBasicos2">Conceptos básicos</a></li>
            <li><a class="dropdown-item" href="/EjercicioPractico2">Ejercicio práctico</a></li>
        </ul>
        </div>
    </div>

    <div class="container mt-5">

        <div class="bg-secondary text-white p-4 rounded w-50 mb-4 mx-auto ms-50 card-hover">
            <h3>INTRODUCCIÓN REGRESIÓN LOGÍSTICA</h3>
                <p>
                    La regresión logística es una técnica de análisis de datos para hallar la probabilidad de un evento. 
                    Ibm.com la explica en acotaciones de 0 a 1 dependiendo de cada caso y teniendo en cuenta la fórmula de probabilidad 
                    (Ibm.com, 2025). Amazon.com lo explica como el uso de matemáticas entre dos factores de datos para predicción de 
                    resultados certeros de forma rápida y sencilla con tratamiento previo de los datos (Amazon.com, S/f). 
                    Este tipo de aprendizaje comprende tipos tales como la logística binaria la cual según GeeksforGeeks se basa en 
                    “es un tipo de análisis de regresión que se utiliza cuando la variable dependiente es binaria.” (GeeksforGeeks, 2024). 
                    Es decir un análisis el cual se basa en dos posibilidades en la mayoría de casos sí o no, debido a su análisis de 
                    categorías de forma individual. 
                </p>
                <p>
                    Esta regresión también se puede usar para obtener una probabilidad por medio de la función sigmoide, la página de 
                    desarrolladores de Google la describe como parte de las funciones logísticas, siendo la función estándar de este 
                    campo (Google Developers, 2025). Dicha función consiste en una gráfica con forma de S que con el aumento de x, el 
                    valor se aproxima a 1 u 0, más no llegan a tener estos valores exactos, su uso también comprende las redes 
                    neuronales para convertir salidas de neuronas en rangos para filtros de paso por probabilidad.
                </p>
                
        </div>

        <div class="bg-secondary text-white p-4 rounded w-50 mb-4 mx-auto ms-50 card-hover">
            <h3>MODELO PARA VARIABLE OBJETIVO BINARIA</h3>
                <p>
                    En este contexto, MedCalc (s.f.) señala que, “La regresión logística es un método estadístico para 
                    analizar un conjunto de datos con una o más variables independientes que determinan un resultado”, 
                    lo que habla de su principal uso que es el de aplicarse en situaciones donde la variable objetivo 
                    es binaria, es decir, cuando solo existen dos posibles resultados como: Si/No, Éxito/Fracaso o 
                    Positivo/Negativo. Por lo que podríamos decir que la diferencia entre la regresión logística y 
                    la regresión lineal es que la primera, se ocupa de predecir valores que son continuos, mientras 
                    que el otro, categoriza eventos en grupos de dos. 
                </p>
        </div>

        <div class="bg-secondary text-white p-4 rounded w-50 mb-4 mx-auto ms-50 card-hover">
            <h3>PROBABILIDAD MEDIANTE SIGMOIDE/LOGIT</h3>
                <p>
                    Para determinar la probabilidad de que ocurra el evento, este tipo de regresión utiliza la 
                    función sigmoide o logit, la cual convierte cualquier numero en un resultado que se encuentra 
                    entre 0 y 1, lo que permite que lo interpretemos como una probabilidad. DataCamp (s.f) menciona 
                    “la función sigmoidea… da una curva en forma de ‘S’ que puede tomar cualquier número de valor real 
                    y convertirlo en un valor entre 0 y 1” lo que nos habla de que esta función es capaz de representar 
                    las situaciones que sean de naturaleza binaria, como bien describimos anteriormente, además de 
                    facilitar la toma de decisiones en base a datos.
                </p>
        </div>

        <div class="bg-secondary text-white p-4 rounded w-50 mb-4 mx-auto ms-50 card-hover">
            <h3>Bibliografia</h3>
                <p>¿Qué es la regresión logística? (2025, febrero 5). 
                    Ibm.com. https://www.ibm.com/es-es/think/topics/logistic-regression</p>
                <p>Amazon.com. Recuperado el 12 de septiembre de 2025, 
                    de https://aws.amazon.com/es/what-is/logistic-regression</p>
                <p>MedCalc. (s. f.). Regresión logística. Recuperado el 15 de septiembre de 2025, 
                    de https://www.medcalc.org/es/manual/logistic-regression.php</p>
                <p>Datacamp. (s. f.). Regresión logística en Python: comprensión e implementación. Recuperado el 15 de septiembre de 2025, 
                    de https://www.datacamp.com/es/tutorial/understanding-logistic-regression-python</p>
        </div>

    </div>

</div>

    <a href="/" class="btn-return position-fixed bottom-0 start-0 m-3">VOLVER AL INICIO</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>