<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio práctico Regresión logística</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body class="fondo-personalizado text-white">

    <p class="p-2 text-bg-secondary text-center fw-bold fs-1">PREDICCIÓN DE ACCIDENTE DE TRÁNSITO</p>

    <div class="container mt-10 px-0 ">

        <div class="d-flex flex-row flex-wrap gap-5 justify-content-start">
            
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    A5- REGRESIÓN LOGÍSTICA
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/ConceptosBasicos2">Conceptos básicos</a></li>
                    <li><a class="dropdown-item" href="/EjercicioPractico2">Ejercicio práctico</a></li>
                </ul>
            </div>

        <div class="d-flex justify-content-center w100000 mt-5">  
            <div class="bg-secondary text-white p-4 rounded w-50" style="min-height: 400px;">
                <h3>EXPLICACIÓN DEL SCRIPT</h3>
                <ul>
                    <li>
                        <strong>Creación de variables:</strong> 
                        <strong>Gráfico de los datos de entrenamiento:</strong> 
                        Este se hace primero mostrando los datos reales en un diagrama de dispersión (puntos en un plano), 
                        luego se entrena un modelo de regresión lineal que aprende la relación entre las variables, 
                        y finalmente se dibuja la línea generada por el modelo. Con esto podemos comparar los valores 
                        observados con los valores predichos y permite visualizar qué tan bien se ajusta el modelo 
                        y entender la precisión de las predicciones.
                    </li>
                    <li>
                        <strong>Entrenamiento:</strong> 
                        <strong>Gráfico de los datos de entrenamiento:</strong> 
                        Este se hace primero mostrando los datos reales en un diagrama de dispersión (puntos en un plano), 
                        luego se entrena un modelo de regresión lineal que aprende la relación entre las variables, 
                        y finalmente se dibuja la línea generada por el modelo. Con esto podemos comparar los valores 
                        observados con los valores predichos y permite visualizar qué tan bien se ajusta el modelo 
                        y entender la precisión de las predicciones.
                    </li>
                    <li>
                        <strong>Predicción:</strong> 
                        <strong>Gráfico de los datos de entrenamiento:</strong> 
                        Este se hace primero mostrando los datos reales en un diagrama de dispersión (puntos en un plano), 
                        luego se entrena un modelo de regresión lineal que aprende la relación entre las variables, 
                        y finalmente se dibuja la línea generada por el modelo. Con esto podemos comparar los valores 
                        observados con los valores predichos y permite visualizar qué tan bien se ajusta el modelo 
                        y entender la precisión de las predicciones.
                    </li>
                    <li>
                        <strong>Gráfico de los datos de entrenamiento:</strong> 
                        <strong>Gráfico de los datos de entrenamiento:</strong> 
                        Este se hace primero mostrando los datos reales en un diagrama de dispersión (puntos en un plano), 
                        luego se entrena un modelo de regresión lineal que aprende la relación entre las variables, 
                        y finalmente se dibuja la línea generada por el modelo. Con esto podemos comparar los valores 
                        observados con los valores predichos y permite visualizar qué tan bien se ajusta el modelo 
                        y entender la precisión de las predicciones.
                    </li>
                </ul>
            </div>
        </div>

    <div class="container flex-grow-1 d-flex justify-content-center align-items-center">
        <form action="/predecir" method="post" class="bg-secondary p-4 rounded">
            <div class="mb-3">
                <label for="velocidad" class="form-label">Velocidad (km/h)</label>
                <input type="number" class="form-control" id="velocidad" name="velocidad" required>
            </div>

            <div class="mb-3">
                <label for="edad" class="form-label">Edad del Conductor</label>
                <input type="number" class="form-control" id="edad" name="edad" required>
            </div>

            <div class="mb-3">
                <label for="clima" class="form-label">Clima</label>
                <select class="form-select" id="clima" name="clima" required>
                    <option value="caluroso">Caluroso</option>
                    <option value="frío">Frío</option>
                    <option value="granizo">Granizo</option>
                    <option value="lluvioso">Lluvioso</option>
                    <option value="neblina">Neblina</option>
                    <option value="nieve">Nieve</option>
                    <option value="nublado">Nublado</option>
                    <option value="soleado">Soleado</option>
                    <option value="tormenta">Tormenta</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="estado_via" class="form-label">Estado de la Vía</label>
                <select class="form-select" id="estado_via" name="estado_via" required>
                    <option value="bacheada">Bacheada</option>
                    <option value="congelada">Congelada</option>
                    <option value="desgastada">Desgastada</option>
                    <option value="deteriorada">Deteriorada</option>
                    <option value="encharcada">Encharcada</option>
                    <option value="mojada">Mojada</option>
                    <option value="obstruida">Obstruida</option>
                    <option value="polvorienta">Polvorienta</option>
                    <option value="resbaladiza">Resbaladiza</option>
                    <option value="seca">Seca</option>
                </select>
            </div>

            <button type="submit" class="btn btn-light w-100">Predecir</button>
        </form>

        {% if prediccion %}
        <div class="alert alert-info text-center mt-4 fs-3">
            <strong>Predicción:</strong> {{ prediccion }} <br>
            <span class="fs-5">Probabilidad: {{ probabilidad }}%</span>
        </div>
            {% endif %}
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

  <a href="/" class="btn btn-secondary position-fixed bottom-0 start-0 m-3">VOLVER AL INICIO</a>
</body>
</html>