<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
    <body class="fondo-personalizado text-white"></body>
    <p class="p-2 text-bg-secondary text-center fw-bold fs-1">MACHINE LEARNING PORTAFOLIO</p>

    <div class="container mt-10 px-0 ">

    <div class="d-flex flex-row flex-wrap gap-5 justify-content-start">
    <!-- Actividad 1 -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        A3- CASOS DE ÉXITO MACHINE LEARNING SUPERVISADO
      </button>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/PrimerCaso">Caso uno</a></li>
        <li><a class="dropdown-item" href="/SegundoCaso">Caso dos</a></li>
        <li><a class="dropdown-item" href="/TercerCaso">Caso tres</a></li>
        <li><a class="dropdown-item" href="/CuartoCaso">Caso cuatro</a></li>
      </ul>

      
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="bg-secondary text-white p-5 rounded shadow w-50">
    <h3 class="text-center mb-4">MACHINE LEARNING 601 N</h3>
    <p class="mb-0 text-center">
      <strong>
        Integrantes: <br>
        Jeisson Arley Calderón Posada <br>
        Santiago Andrés Sánchez Vargas <br>
        Santiago Enrique Torres Gonzalez <br><br>
        Profesor: <br>
        Edison Gustavo Cañón Varela <br><br>
        Universidad de Cundinamarca - Extensión Chía
      </strong>
    </p>
  </div>
</div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<body>
    <div class="d-flex justify-content-center">
    <a href="/" class="btn btn-success position-fixed bottom-0 start-50 translate-middle-x mb-3">VOLVER AL INICIO</a>
    </div>
</body>
</html>
