<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NVIDIA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
    <body class="fondo-personalizado text-white"></body>
    <p class="p-2 text-bg-secondary text-center fw-bold fs-1">NVIDIA y American Express contra el fraude financiero</p>

    <div class="container mt-10 px-0 ">

    <div class="d-flex flex-row flex-wrap gap-5 justify-content-start">
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        CASOS DE ÉXITO MACHINE LEARNING SUPERVISADO
      </button>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/PrimerCaso">Caso uno</a></li>
        <li><a class="dropdown-item" href="/SegundoCaso">Caso dos</a></li>
        <li><a class="dropdown-item" href="/TercerCaso">Caso tres</a></li>
        <li><a class="dropdown-item" href="/CuartoCaso">Caso cuatro</a></li>
      </ul>

      <div class="d-flex justify-content-center w50000 mt-5">  
        <div class="bg-secondary text-white p-4 rounded w-50 h-25">
        <h3>NVIDIA y American Express: Innovación en la Detección de Fraude Financiero</h3>
        <p>NVIDIA demuestra un caso de éxito en su apoyo a la compañía global de servicios financieros conocida 
            como American Express para combatir el fraude financiero.  Según NVIDIA (2020), "American Express, 
            que cuenta con más de 115 millones de tarjetas de crédito activas y maneja más de ocho mil millones 
            de transacciones al año", con esto en mente se logra entender por qué es importante la detección de 
            las transacciones fraudulentas de la forma más rápida posible ya que estas pueden causar grandes 
            pérdidas a la entidad y daños tanto a sus clientes como a su confiabilidad.</p>
        </div>
      </div>
      <div class="d-flex justify-content-center w50000 mt-5">  
        <div class="bg-secondary text-white p-4 rounded w-50 h-25">
        <h3>LA SOLUCIÓN AL PROBLEMA DEL FRAUDE</h3>
        <p>Por esto American Express e NVIDIA colaboraron, según DigitalDefynd (2025), "American Express adoptó 
            las soluciones de IA de NVIDIA para mejorar su capacidad de detección de fraude, utilizando modelos 
            de aprendizaje automático para analizar datos de transacciones a gran escala". La solución de NVIDIA 
            consiste en la implementación de modelos para la detección de patrones en las transacciones en busca 
            de anomalías las cuales sean un indicativo de fraude. A su vez estos modelos siguen aprendiendo según 
            pasa el tiempo lo que les “permite mejorar en la detección de fraudes por lo que aumenta la rapidez 
            de las transacciones y a su vez disminuye la detección de procesos sospechosos” (DigitalDefynd, 2025).</p>
        </div>
      </div><div class="d-flex justify-content-center w50000 mt-5">  
        <div class="bg-secondary text-white p-4 rounded w-50 h-25">
        <h3>LA GRAN TECNOLOGÍA DE NVIDIA</h3>
        <p>Según NVIDIA (2020), "Los modelos están entrenados en NVIDIA DGX para acelerar el tiempo de comercialización, 
            optimizados con NVIDIA TensorRT, y servidor con el Servidor de Inferencia NVIDIA Triton para un alto rendimiento 
            en producción", comenzando por la tecnología NVIDIA DGX la cual es un hardware el cual acelera las cargas de 
            trabajo y de lectura de datos tanto en IA como en Machine Learning; en cuanto a la tecnología NVIDIA TensorRT 
            es una red interconectada de software, hardware y servicios los cuales se busca que sean accesibles y que 
            trabajen de forma conjunta con el fin de lograr un propósito especifico, en cuanto a la tecnología NVIDIA DGX 
            es una plataforma de computación avanzada dedicada al entrenamiento de Machine Learning y el procesamiento 
            de altos volúmenes de datos para Inteligencia Artificial.</p>
        </div>
      </div>

      <div class="d-flex justify-content-center w50000 mt-5">  
        <div class="bg-secondary text-white p-4 rounded w-50 h-25">
        <h3>NETGRAFIA</h3>
        <p>
            •	NVIDIA. (2020, octubre 5). American Express Adopts NVIDIA AI to Help Prevent Fraud and Foil Cybercrime. NVIDIA. https://blogs.nvidia.com/blog/american-express-nvidia-ai/<br>
            •	DigitalDefynd. (2025). 5 ways American Express is using AI – Case Study. DigitalDefynd. https://digitaldefynd-com.translate.goog/IQ/american-express-using-ai-case-study/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=es&_x_tr_pto=tc 
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<body>
    <a href="index.html" class="btn-return position-fixed bottom-0 start-0 m-3">VOLVER AL INICIO</a>
</body>
</html>