:root {
    --bs-light-gray: #E6E8EB;
    --bs-deep-navy: #001F3F;
    --bs-silver: #C0C0C0;
    --bs-dark-gray: #495057;
}

body {
    background-color: var(--bs-light-gray) !important;
}

.custom-header {
    background-color: var(--bs-deep-navy) !important;
}

.btn-return {
    background-color: var(--bs-deep-navy) !important;
    color: white !important;
    padding: 10px 25px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.btn-return:hover {
    background-color: var(--bs-silver) !important;
    color: var(--bs-deep-navy) !important;
}

.card-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.shadow-hover:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.custom-card {
    background-color: var(--bs-dark-gray);   /* Fondo gris oscuro*/
    color: white;                            /* Texto blanco */
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;

    /* Centrado automático */
    width: 75%;              
    margin-left: auto;       
    margin-right: auto;      

    /* Sombras */
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,.3);
}

/* Títulos dentro de cards */
.custom-card h3,
.custom-card h4 {
    color: #ffc107; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.custom-card ul {
    list-style: none;
    padding-left: 0;
}

.custom-card ul li::before {
    content: "✔ ";
    color: #ffc107;
    font-weight: bold;
}

#mapa-container {
width: 100%;
height: 800px;
border: 1px solid white;
overflow: auto;
position: relative;
background: #fff;
}

.zoom-controls {
position: absolute;
top: 10px;
right: 10px;
display: flex;
flex-direction: column;
gap: 5px;
z-index: 10;
}