<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOOGLE MAPS Y EL TRAFICO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
    <body class="fondo-personalizado text-white"></body>
    <p class="p-2 text-bg-secondary text-center fw-bold fs-1">Verificación del estado del trafico</p>

    <div class="container mt-10 px-0 ">

    <div class="d-flex flex-row flex-wrap gap-5 justify-content-start">
    <!-- Actividad 1 -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        CASOS DE ÉXITO MACHINE LEARNING SUPERVISADO
      </button>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/PrimerCaso">Caso uno</a></li>
        <li><a class="dropdown-item" href="/SegundoCaso">Caso dos</a></li>
        <li><a class="dropdown-item" href="/TercerCaso">Caso tres</a></li>
        <li><a class="dropdown-item" href="/CuartoCaso">Caso cuatro</a></li>
      </ul>

      <div class="d-flex justify-content-center w50000 mt-5">  
        <div class="bg-secondary text-white p-4 rounded w-50 h-25">
        <h3>Google Maps, Uber y el tráfico: Una oportunidad para ahorrar tiempo y ofrecer ofertas</h3>
        <p>
            Para el tráfico el mayor dilema es el conseguir la ruta más rápida, ya que el tener tráfico puede hacer 
            que se pierda el tiempo oportunidades, etc. Afectando mayoritariamente la calidad de vida de las personas
            debido a factores relacionados al estrés como fatiga, irritabilidad, etc. Además que esto también repercute
            en el medio ambiente, ya que aumenta el consumo de combustibles fósiles y por ende, mayor producción de gases
            de efecto invernadero.
        </p>
        </div>
      </div>
      <div class="d-flex justify-content-center w50000 mt-5">  
        <div class="bg-secondary text-white p-4 rounded w-50 h-25">
        <h3>LA SOLUCIÓN AL TRAFICO</h3>
        <p>
            WeCloudData (2025) explica que esto se puede resolver por medio de modelos a largo plazo 
            que sean predictivos tales como el Uni-LTSM y Bi-LTSM los cuales consisten en predicción a largo plazo por 
            medio de redes neuronales aplicados a predicciones en un rango de tiempo determinado, siendo muy efectivos para este hito 
            ya que este uno de sus principales usos.
        </p>
        </div>
      </div><div class="d-flex justify-content-center w50000 mt-5">  
        <div class="bg-secondary text-white p-4 rounded w-50 h-25">
        <h3>EFECTIVIDAD EN CIUDADES PRINCIPALES</h3>
        <p>
            Esta funcionalidad de ML como lo dice IBM AI Team (2024) está presente en plataformas como 
            Google Maps donde se utiliza para conseguir rutas más rápidas y exploración por medio del uso de grafos (WeCloudData, 2025)
            obteniendo una efectividad del 97% en el cumplimiento de la hora de llegada a compromisos en ciudades como Tokio, 
            Sydney, Sao Paulo, etc. Para el caso de Uber o Lyft su uso es principalmente para la conexión entre conductores y 
            usuarios, es decir, analizar el comportamiento del tráfico y proporcionar el precio del servicio adquirido.
        </p>
        </div>
      </div>

      <div class="d-flex justify-content-center w50000 mt-5">  
        <div class="bg-secondary text-white p-4 rounded w-50 h-25">
        <h3>NETGRAFIA</h3>
        <p>
            •	WeCloudData. (2025, March 17). Navigating your way: Traffic Prediction with Machine Learning. WeCloudData. https://weclouddata-com.translate.goog/blog/navigating-your-way-traffic-prediction-with-machine-learning/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=es&_x_tr_pto=tc 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<body>
    <a href="/" class="btn-return position-fixed bottom-0 start-0 m-3">VOLVER AL INICIO</a>
</body>
</html>